# dependencies
node_modules/

# next.js
.next/
.turbo/

# env
.env
.env.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

backend/.venv/
.venv/
__pycache__/
*.pyc


# ignore workflows temporarily (no workflow scope)
.github/workflows/


# ignore workflows temporarily (no workflow scope)
.github/workflows/

